In [5]:
import pandas as pd
import numpy as np

In [6]:
data=pd.read_csv("pp.csv")

In [7]:
data
#represent dataset

,example,credit_score,employment,colletral,loan approval
0,1. high good yes yes,NaN,NaN,NaN,NaN
1,2. medium no no no,NaN,NaN,NaN,NaN
2,3. high no yes no,NaN,NaN,NaN,NaN
3,4. medium yes yes no,NaN,NaN,NaN,NaN

In [13]:
concepts = np.array(data)[:,:-1]

In [15]:
concepts

array([['1.        high        good       yes       yes', nan, nan, nan],
       ['2.        medium        no         no        no', nan, nan, nan],
       ['3.       high         no          yes       no', nan, nan, nan],
       ['4.       medium       yes         yes       no', nan, nan, nan]],
      dtype=object)

In [16]:
target = np.array(data)[:,-1]

In [18]:
target

array([nan, nan, nan, nan], dtype=object)

In [33]:
def train(con,tar):
    for i,val in enumerate(tar):
        if val == 'yes':
           specific_h = con[i].copy()
           break
        
    for i, val in enumerate(con):
        if tar[i] == 'yes':
           for x in range(len(specific_h)):
            if val[x] != specific_h[x]:
                specific_h[x] = '?'
           else:
                pass
                return specific_h

print(train(concepts,target))